data*
results/followup_planning*
*__pycache__*
doc/*txt
*.log
results/*png
results/neighborhoods*
results/*csv
*.pyc
*target_table.tex
doc/20190912_youngstar_xmatch*
sandbox/*
results/LCOGT_19B20A_*
SECRET*
results/tc_special_proc*
results/TOI_837*
build*
*.egg*
dist*
results/LCOGT_19B_observability*
results/LCOGT_19B_updated_requests*
results/LCOGT_20A_observability*
results/*pdf
results/PTFO*
doc/2020A_*planning*/
*logs*
results/dilution_histogram*
results/rp_vs_age*
results/yield_calculation*
*cookie*
results/SG1_candidate_sharing/*
results/TIC308538095/
doc/2020A_spec_processing/*
results/spec_viz/*
results/spec_analysis*

results/quicklook*
*temp*
doc/SG3_high-res-img_interfacing/
drivers/*radvel*/20*
results/TIC_268*
*DS_Store*
drivers/*fits
results/followup_target_selection*
notebooks/*png
notebooks/*fits
notebooks/.ipynb_checkpoints/*
doc/2020B_observing*
*HD_149834*
results/TOI_1880*
results/Mann_20200730_Theia_assoc/*
drivers/oneoff*/mann*
results/LCOGT_20B*
results/TOI_942_neighborhood/*
